<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>User Index</title>
  <style>
    * {
      font-family: Helvetica, Arial, sans-serif;
    }
    div.pic {
      display: flex;
      align-items: center;
      padding: 1em;
      font-size: 1.2em;
      float: left:
      height: 400px;
    }

    div a {
      padding-left: 0.5em;
    }

    div.nav {
      float: left;
      width: 100%
      height: 100px;
    }

    img {
      padding-right: 2em;
    }

    input {
      font-size: 1em;
    }

    dt {
      font-weight: bolder;
      display: inline-block;
      width: 4em;
    }

    dd {
      display: inline-block;
      margin-left: 0;
      line-height: 1.5;
    }

    .edit {
      display: none;
    }

  </style>
</head>
<body>

  <div class="nav">
    <a href="/">Back to Users List</a>
  </div>    

  <div class="pic">
    <img src="/profilepics/{{user.username}}_med.jpg">
    <p>
    <a href="#" onclick="edit()">Edit</a>
    <a href="#" onclick="del()">Delete</a>
    </p>
  </div>

  <h1>{{username}}</h1>
  <img src="/profilepics/{{username}}_lg.jpg" alt="">

</body>
</html>
